html {
	background: #f0efe8 url('../images/background/paw_pattern.02.png') repeat fixed;
}

#section-main {
	.logo {
		$size: 400px;
		background: #fff url("../../storage/images/furry.02.png") no-repeat 50%;
		background-size: $size - 100px;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		width: $size;
		height: $size;
	}
}

.navbar {
	&.has-shadow {
		box-shadow: 0 2px 3px 0 rgba(10, 10, 10, .1);
	}
}

.footer {
	&.has-shadow {
		box-shadow: 0 -2px 3px 0 rgba(10, 10, 10, .1);
	}
}