@media (max-width: 1024px) {
	#section-main {
		.title {
			font-size: 1.75rem;
		}
		.subtitle {
			font-size: 1rem;
		}
		.logo {
			$size: 300px;
			background-size: $size - 50px;
			width: $size;
			height: $size;
		}
	}
}

@media (max-width: 768px) {
	#section-main {
		.title {
			font-size: 1.75rem;
		}
		.subtitle {
			font-size: 1rem;
		}
		.logo {
			display: none;
			$size: 200px;
			background-size: $size - 50px;
			width: $size;
			height: $size;
		}
	}
}

@media (min-width: 769px) {
	.modal-card,
	.modal-content {
		width: 80%;
	}
}